.idea

node_modules
miniprogram_npm

!package-lock.json
!yarn.lock

client/pages/**/*.js
client/app.js
client/src/**/*.js
!client/src/ui/**/*.js
client/workers/**/*.js
client/src/Framework/src/Support/Summary/summary.ts
client/buildcache

summary/*
!summary/towxml.js
!summary/summary.generate.js
!wx_background_fetch_data
