.idea

node_modules
miniprogram_npm

!package-lock.json
!yarn.lock

client/pages/**/*.js
client/app.js
client/utils/**/*.js
client/workers/**/*.js
client/pages/docker/content/util/summary.ts
client/buildcache

docker/summary.ts
